
html {
    height: auto; 
    width: auto
}

body {
    height: auto; 
    width: auto;
    padding: 10px;
    margin: 10px;
}

#map,
body,
html {
    height: 83%;
} 

#mapholder {
    height: 90%;
}

#imageholder {
    height: 100%;
    width: 100%; 
}

#wrap {
    width:90%;
    margin: 15px;
}

#left_col {
   float:left;
   margin: 25px;
   width:400px;
}

#right_col {
   float:right;
   margin: 25px;
   width:725px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(27, 39, 39)
}   

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change hover to red  */
li a:hover {
    background-color:rgb(197, 7, 7);
}


h1 {
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(27, 39, 39)
}

h2 {
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(27, 39, 39)
}

p {
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(27, 39, 39)
}

form-group {
    display:inline-block;
}

.header img {
    float: left;
    top: 18px;
    width: 25px;
    height: 25px
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}    
    
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: rgb(197, 7, 7);
    text-align: center;
}    


  